:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --primary-bg-color:#2F303A;
  --timing-funktion: cubic-bezier(0.4, 0, 0.2, 1) 
   ;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-color);
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
  border: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__first-part {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-funktion);
  transition: color 250ms var(--timing-funktion);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}

.contact-nav {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contact-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-nav__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__item:not(:first-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:first-child) {
    margin-bottom: 0;
  }
}

.contact-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #FFFFFF;
  -webkit-transition: color 250ms var(--timing-funktion);
  transition: color 250ms var(--timing-funktion);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact-nav__link {
    font-size: 12px;
    line-height: 1.16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav__link--bigger-size {
    font-size: 34px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 420px) {
  .contact-nav__link--bigger-size {
    font-size: 26px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav__icons {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__icons {
    fill: currentColor;
    margin-right: 8px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__icons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.menu-open-button,
.menu-close-button {
  display: block;
  margin-left: auto;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.menu-open-button:hover, .menu-open-button:focus,
.menu-close-button:hover,
.menu-close-button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-button,
  .menu-close-button {
    display: none;
  }
}

.menu-container {
  background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 15px;
    overflow-y: auto;
  }
}

@media screen and (min-width: 767px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.navigation,
.contacts {
  height: auto;
  width: auto;
}

.navigation {
  margin-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-bottom: 0;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

.contact-nav {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contact-nav {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contact-soc-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact-soc-list {
    display: none;
  }
}

.contact-soc-list__item {
  margin-left: 0;
  padding-right: 10px;
}

.contact-soc-list__item:not(:first-child) {
  padding-left: 10px;
}

.contact-soc-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contact-soc-list__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 460px) {
  .contact-soc-list__link {
    font-size: 12px;
    line-height: 1.22;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop-2x.jpg);
  }
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-funktion);
  transition: opacity 250ms var(--timing-funktion);
  overflow-y: scroll;
  padding: 10px;
}

@media screen and (min-width: 480px) {
  .backdrop {
    padding: 93px 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 221px 536px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250 ms var(--timing-funktion);
  transition: -webkit-transform 250 ms var(--timing-funktion);
  transition: transform 250 ms var(--timing-funktion);
  transition: transform 250 ms var(--timing-funktion), -webkit-transform 250 ms var(--timing-funktion);
}

@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.form {
  padding: 40px;
}

.form__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font: inherit;
  outline: none;
  -webkit-transition: border 250ms var(--timing-funktion);
  transition: border 250ms var(--timing-funktion);
}

.form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__field {
  position: relative;
}

.form__field textarea::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea:-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea::-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field:focus-within > .form__input-icons {
  fill: var(--accent-color);
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input-icons {
  position: absolute;
  top: 62%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__check-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479px) {
  .form__check-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .form__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__policy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--accent-color);
  margin-left: 2px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form__policy-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox:checked + .form__check-text span {
  background-color: var(--accent-color);
  border: transparent;
}

.form__checkbox:checked + .form__check-text .form__check-icon {
  fill: #FFFFFF;
}

.form__button {
  margin-top: 31px;
}

.features {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
  }
}

.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.section--no-padding-top {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .section--no-padding-top {
    display: none;
  }
}

.activity {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.activity__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .activity__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .activity__item {
    width: calc(100% / 3 - 30px);
  }
}

.activity__title {
  margin-bottom: 50px;
}

.activity__image-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text-overlay {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section--other-background {
  background-color: #F5F4FA;
}

.team {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__box {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.team__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--timing-funktion);
  transition: background-color 250ms var(--timing-funktion);
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__link:hover .soc-list__icons,
.soc-list__link:focus .soc-list__icons {
  fill: #FFFFFF;
}

.soc-list__icons {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--timing-funktion);
  transition: fill 250ms var(--timing-funktion);
}

.clients {
  background-color: #FFFFFF;
}

.clients__title {
  margin-bottom: 50px;
}

.clients {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  height: 92px;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  /* background-color: #E5E5E5; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 250ms var(--timing-funktion);
  transition: border 250ms var(--timing-funktion);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icons,
.clients__link:focus .clients__icons {
  fill: var(--accent-color);
}

.clients__icons {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--timing-funktion);
  transition: fill 250ms var(--timing-funktion);
}

.footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo__second-part--white {
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 1199px) {
  .address__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__map {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 8px;
  -webkit-transition: color 250ms var(--timing-funktion);
  transition: color 250ms var(--timing-funktion);
}

.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address__map {
    margin-bottom: 9px;
  }
}

.address__email,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color 250ms var(--timing-funktion);
  transition: color 250ms var(--timing-funktion);
}

.address__email:hover, .address__email:focus,
.address__phone:hover,
.address__phone:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .join__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.soc-list__link--black-bgc {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__icons--white {
  fill: #FFFFFF;
}

.soc-list__link:hover,
.soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__link:hover .soc-list__icons,
.soc-list__link:focus .soc-list__icons {
  fill: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__form-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2F303A;
  font: inherit;
  outline: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms var(--timing-funktion);
  transition: border 250ms var(--timing-funktion);
}

@media screen and (max-width: 360px) {
  .footer__form-input {
    width: 300px;
  }
}

.footer__form-input:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer__form-input {
    margin-bottom: 20px;
  }
}

.footer__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-color);
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  min-width: 200px;
  border: 0;
}

.footer__button-icons {
  margin-left: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 15px;
    -webkit-column-gap: 8px;
            column-gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  min-width: none;
  color: var(--title-text-color);
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-funktion), color 250ms var(--timing-funktion), -webkit-box-shadow 250ms var(--timing-funktion);
  transition: background-color 250ms var(--timing-funktion), color 250ms var(--timing-funktion), -webkit-box-shadow 250ms var(--timing-funktion);
  transition: background-color 250ms var(--timing-funktion), color 250ms var(--timing-funktion), box-shadow 250ms var(--timing-funktion);
  transition: background-color 250ms var(--timing-funktion), color 250ms var(--timing-funktion), box-shadow 250ms var(--timing-funktion), -webkit-box-shadow 250ms var(--timing-funktion);
}

.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .list-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .project {
    margin: 15px;
    width: calc((100% - 60px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: calc((100% - 90px)/3);
  }
}

.project:hover .image-overlay,
.project:focus .image-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 767px) {
  .project:not(:last-child) {
    margin-bottom: 30px;
  }
}

.project__name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.project__type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project__link {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-funktion);
  transition: -webkit-box-shadow 250ms var(--timing-funktion);
  transition: box-shadow 250ms var(--timing-funktion);
  transition: box-shadow 250ms var(--timing-funktion), -webkit-box-shadow 250ms var(--timing-funktion);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .project__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.project__description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

@media screen and (min-width: 768px) {
  .project__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.project__image {
  position: relative;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-funktion);
  transition: -webkit-transform 250ms var(--timing-funktion);
  transition: transform 250ms var(--timing-funktion);
  transition: transform 250ms var(--timing-funktion), -webkit-transform 250ms var(--timing-funktion);
}

.image-overlay__text {
  position: absolute;
  width: 322px;
  height: 168px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/*# sourceMappingURL=main.css.map */